$margenSuperior:-10vh; 
$colorMarino: #0f1e3d;
$anchoImagen: 10vh;
body{
    font-family: 'Poppins', sans-serif !important;
    color: $colorMarino;
    div{
        display: block
    }
}
.proyecto{
    background-color: $colorMarino;
}
p{
        font-family: 'Poppins', sans-serif !important;
        

}
.proyectos{
    margin-top: $margenSuperior*2;
}
.titulo{
    margin-top: $margenSuperior; 
    img{
        width:  5vh;
    }
}
.contenido{
    margin-top: $margenSuperior; 
    
}
.actividades{
    img{
        width: $anchoImagen;
        margin: 5vh 5vh 5vh 5vh;
    }
}